body{
  color: #ffffff;
}
.skin-blue .main-header .navbar {
 background-image: radial-gradient(circle at 30.21% 15.82%, #0039ff, transparent 100%), radial-gradient(circle at 96.7% 17.88%, #0bc412, transparent 100%), radial-gradient(circle at 68.65% 88.86%, #00d0ff, transparent 100%), radial-gradient(circle at 4.16% 78.28%, #0014ff, transparent 100%), radial-gradient(circle at 50% 50%, #00f6ff, #00f3ff 100%);
 }
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #272727;
}
.skin-blue .main-header .logo {
background-color: #000000;}
}
.row{
    background-color:black
}

.box{
    background-color:black;
}

.text-center{
    background-color:black;
}
.content-wrapper {
    background-color: #1a1a1a;
}
