._smlDrawer_121t3_1{
    z-index:1;
    
}
._brandingLogoLink_1ocau_1 {
 background-image: url("smartPain.png");
 background-size: 100%;
 background-repeat: round;
 width: 200px;
 height: 60px;
}


._brandingLogoLink_link_1ocau_7{
    opacity: 0;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: #333333;
    color:white;
}
._header_1q5db_1 {
    color:white;
    background-color: #333333;
}
.h1,h2,h3,h4,h5,h6{
    color:white;
}
._smlBaseCardSecondaryActionsMenu_7n2w0_31{
    opacity:40%;
}
._navLink_13anu_1{
    color:white;
}
._smlCourseCardHeader_nrmhi_1 ._statusWrapper_nrmhi_5{
    background-color: #000000bd;
    border-radius: 20px;
    justify-content: center;
    min-width: 360px;
    height:30px;
    flex-wrap: nowrap;
}
._smlCourseEventCard_q5jb3_1{
    display: flex;
    justify-content: center;
}
._smlSelectButton_snpgs_22{
    background-color: #2f2f2f;
}
._smlBaseCard_7n2w0_1:hover{
    background-color: black;
}
._smlDrawerHeader_121t3_95{
    background-color:#000000;
}
.ant-tabs-nav{
    background-color:#000000;
    
}
:root {
    --sml-background: #333333;
    --sml-text-dark-high: white;
    --sml-accent-2-100: black;
    --sml-text-dark-medium: white;
    --sml-accent-1-100: #dc7728; 
    --sml-border-color-1: #0a6cd7;

}


